<%- include("./../../partials/header"); %>

<main>
    <div class="container dashboard">
        <div class="vendors-header">
            <h2>Vendors</h2>
            <a class="tab-bar__link <%- whose === "mine" ? "tab-bar__link--active" : "" %>"
                href="/users/me/vendors?whose=mine">Mine</a>
            <a class="tab-bar__link <%- whose === "friends" ? "tab-bar__link--active" : "" %>"
                href="/users/me/vendors?whose=friends">Friends'</a>
        </div>

        <% Object.keys(vendorObj).forEach(vendorType => { %>
        <div class="dashboard-vendors">
            <div class="vendor-header">
                <p><%= vendorType %></p>
                <!-- <h5 class="dashboard-vendors__header"><%= vendorType %></h5> -->
            </div>
            <% vendorObj[vendorType].forEach(vendor => { %>
            <div class="dashboard-vendors__card vendor-card">
                <div class="dashboard-vendors__summary">
                    <p><%= vendor.companyName %></p>
                    <p><%= vendor.contactName %></p>
                    <p>
                        <a href="tel:<%= vendor.contactNumber %>" class="phoneNumber">
                            <%= vendor.contactNumber %>
                        </a>
                    </p>
                    <p><%= vendor.email %></p>

                    <p><a href="/vendors/<%= vendor._id %>" class="detail-link">More details</a></p>
                    <div class="vendor-btns">
                        <% if (whose === "friends") { %>
                        <form action="/users/me/vendors" method="POST">
                            <input type="hidden" name="vendorId" value="<%= vendor._id %>">
                            <button type="submit">Add to My List</button>
                        </form>
                        <!-- <form id="add-friends-vendor-form">
                                <input type="hidden" name="vendorId" value="<%= vendor._id %>">
                                <button type="submit">Add to My List</button>
                            </form> -->
                        <% } else { %>
                        <form action="/vendors/<%= vendor._id %>/edit" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/users/me/vendors?_method=DELETE" method="POST">
                            <input type="hidden" name="vendorId" value="<%= vendor._id %>">
                            <button type="submit">Remove</button>
                        </form>
                        <% } %>
                    </div>

                </div>
            </div>
            <% }) %>
        </div>
        <% }) %>

        <% if (whose === "mine") { %>
        <a href="/vendors/new"><button class="add-btn">+</button></a>
        <% } %>
    </div>
</main>

<%- include("./../../partials/footer"); %>