<%- include("./../partials/header"); %>

<main>
    <div class="public">
        <div class="public-vendors">
            <% Object.keys(vendorObj).forEach(vendorType => { %>
            <h4 class="public-vendors__header"><%= vendorType %></h4>
            <% vendorObj[vendorType].forEach(vendor => { %>
            <div class="public-vendors__card">
                <div class="public-vendors__summary">
                    <p><%= vendor.companyName %></p>
                    <p><%= vendor.contactName %></p>
                    <p><%= vendor.contactNumber %></p>
                    <p><%= vendor.email %></p>

                    <p><a href="/vendors/<%= vendor._id %>">More details</a></p>
                </div>
            </div>
            <% }) %>
            <% }) %>
        </div>

    </div>
</main>

<%- include("./../partials/footer"); %>