<%- include("./../partials/header"); %>

<main class="add-vendor">
    <div class="add-vendor-container">
        <div class="form__header">
            <h2>New Vendor</h2>
        </div>

        <form class="form__group" action="/vendors" method="POST" id="vendor-form" autocomplete="off">
            <!-- <form class="form__group" id="vendor-form" autocomplete="off"> -->
            <div class="form-section" id="section--vendor">
                <h3 class="form-section__header">Vendor Type</h3>

                <% const vendorTypes = ["Aircon Servicing", "Cleaner", "Electrician", "Gardener", "Locksmith", "Plumber"]; %>
                <% if (vendorTypes.length > 2) { %>
                <div class="column-wrap">
                    <% } %>

                    <% vendorTypes.forEach((vendorType, idx) => { %>
                    <% const slug = vendorType.toLowerCase().replace(" ", "_"); %>

                    <div class="form-input--checkbox">
                        <input class="checkbox-input" type="checkbox" name="<%= `vendor--${slug}` %>"
                            id="<%= `${slug}` %>" value="<%= `${vendorType}` %>">
                        <label class="checkbox-label" for="<%= `${slug}` %>"><%= vendorType %></label>
                    </div>
                    <% }); %>
                    <% if (vendorTypes.length > 2) { %>
                </div>
                <% } %>
            </div>

            <div class="form-section">
                <h3 class="form-section__header">Basic Information</h3>

                <div class="form-section__col">
                    <div class="form-input">
                        <label class="form-input__label" for="companyName">Company Name</label>
                        <input class="form-input__input" type="text" name="companyName" id="companyName" />
                    </div>

                    <div class="form-input">
                        <label class="form-input__label" for="contactName">Contact Name</label>
                        <input class="form-input__input" type="text" name="contactName" id="contactName" />
                    </div>
                </div>
                <div class="form-section__col">
                    <div class="form-input">
                        <label class="form-input__label" for="contactNumber">Contact Number</label>
                        <input class="form-input__input" type="text" name="contactNumber" id="contactNumber" />
                    </div>

                    <div class="form-input">
                        <label class="form-input__label" for="email">Email</label>
                        <input class="form-input__input" type="text" name="email" id="email" />
                    </div>
                </div>
            </div>

            <div class="toggle-panel" id="toggle--web">
                <span class="toggle-header" id="toggle__symbol--web">+</span> Websites
            </div>
            <div class="toggle-section" id="section--web">
                <div class="form-section">
                    <div class="form-section__col">
                        <div class="form-input">
                            <label class="form-input__label" for="url">Website</label>
                            <input class="form-input__input" type="text" name="url" id="url" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="facebook">Facebook</label>
                            <input class="form-input__input" type="text" name="facebook" id="facebook" />
                        </div>
                    </div>
                    <div class="form-section__col">
                        <div class="form-input">
                            <label class="form-input__label" for="instagram">Instagram</label>
                            <input class="form-input__input" type="text" name="instagram" id="instagram" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="otherUrl">Other URL</label>
                            <input class="form-input__input" type="text" name="otherUrl" id="otherUrl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="toggle-panel" id="toggle--address">
                <span class="toggle-header" id="toggle__symbol--address">+</span> Address
            </div>
            <div class="toggle-section" id="section--address">
                <div class="form-section">
                    <div class="form-section__col">
                        <div class="form-input">
                            <label class="form-input__label" for="addrLine1">Address Line 1</label>
                            <input class="form-input__input" type="text" name="address--addrLine1" id="addrLine1" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="addrLine2">Address Line 2</label>
                            <input class="form-input__input" type="text" name="address--addrLine2" id="addrLine2" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="city">City</label>
                            <input class="form-input__input" type="text" name="address--city" id="city" />
                        </div>
                    </div>
                    <div class="form-section__col">
                        <div class="form-input">
                            <label class="form-input__label" for="state">State</label>
                            <input class="form-input__input" type="text" name="address--state" id="state" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="postalCode">Postal Code</label>
                            <input class="form-input__input" type="text" name="address--postalCode" id="postalCode" />
                        </div>
                        <div class="form-input">
                            <label class="form-input__label" for="country">Country</label>
                            <input class="form-input__input" type="text" name="address--country" id="country" />
                        </div>
                    </div>
                </div>

            </div>

            <button class="form-btn" type="submit">Add To My List</button>
        </form>
    </div>
</main>

<%- include("./../partials/footer"); %>