<%- include("./../partials/header"); %>

<main>
    <div class="container vendor-profile">
        <p class="profile__company-name"><%= vendor.companyName %></p>
        <p class="profile__contact-name"><%= vendor.contactName %></p>
        <p class="profile__contact-number"><%= vendor.contactNumber %></p>
        <p class="profile__email"><%= vendor.email %></p>
        <p class="profile__url"><%= vendor.url %></p>
    </div>
</main>

<%- include("./../partials/footer"); %>