<%- include("./../partials/header"); %>

<main class="show-vendor">
    <div class="show-vendor-container">
        <div class="show-vendor-section show-vendor--title">
            <h3 class="profile__company-name"><%= vendor.companyName %></h3>
            <h3 class="profile__contact-name"><%= vendor.contactName %></h3>
        </div>

        <div class="show-vendor-section show-vendor--contact">
            <p class="show-section--header">Contact</p>
            <p class="profile__contact-number"><%= vendor.contactNumber %></p>
            <p class="profile__email"><%= vendor.email %></p>
            <p class="profile__url"><a href="<%= vendor.url %>"><%= vendor.url %></a></p>
        </div>

        <% if (serviceReview) { %>
        <div class="show-vendor-section show-vendor--services">
            <p class="show-section--header">Service</p>
            <p>Locations: <%= serviceReview.locations.join(', '); %></p>
            <p>Average Cost: $<%= serviceReview.avgCost %></p>
            <p>Average Rating: <%= serviceReview.avgRating %></p>
        </div>

        <div class="show-vendor-section show-vendor--reviews">
            <p class="show-section--header">Reviews</p>
            <% serviceReview.reviews.forEach(review => { %>
            <p>$<%= review.cost %></p>
            <p><%= review.rating %>/5</p>
            <p><%= review.comments %></p>
            <% }); %>
        </div>
        <% } %>


    </div>
</main>

<%- include("./../partials/footer"); %>