<%- include("./../partials/header"); %>

<main class="show-vendor">
    <div class="show-vendor-container">
        <div class="show-vendor-section show-vendor--title">
            <h3 class="profile__company-name"><%= vendor.companyName %></h3>
            <h3 class="profile__contact-name"><%= vendor.contactName %></h3>
        </div>

        <div class="show-vendor-section show-vendor--contact">
            <p class="show-section--header">Contact</p>
            <div class="show-content">
                <% const contactFields = ["contactNumber", "email", "url", "facebook", "instagram", "otherUrl"]; %>
                <% contactFields.forEach(field => { %>
                <p><%= vendor[field] %></p>
                <% }); %>

                <% if (vendor.address) { %>
                <% const addrFields = ["addrLine1", "addrLine2", "city", "state", "postalCode", "country"]; %>
                <% let address = ""; %>
                <% addrFields.forEach((field, idx) => { %>
                <% if (vendor.address[field]) { %>
                <% if (idx > 0) { %>
                <% address += ", "; %>
                <% } %>
                <% address += vendor.address[field]; %>
                <% } %>
                <% }); %>
                <p><%= address %></p>
                <% } %>

            </div>
        </div>

        <% if (serviceReview) { %>
        <div class="show-vendor-section show-vendor--services">
            <p class="show-section--header">Service</p>
            <div class="show-content">
                <% if (serviceReview.locations.length > 0) { %>
                <p>Locations: <%= serviceReview.locations.join(', '); %></p>
                <% } %>
                <p>Average Cost: $<%= serviceReview.avgCost %></p>
                <p>Average Rating: <%= serviceReview.avgRating %></p>
            </div>
        </div>

        <div class="show-vendor-section show-vendor--reviews">
            <p class="show-section--header">Reviews</p>
            <% const numReviews = serviceReview.reviews.length; %>
            <% serviceReview.reviews.forEach(review => { %>
            <div class="show-content <% if (numReviews > 1) { %>show-review-divider<% } %>">
                <!-- <p>Cost: $<%= review.cost %></p> -->
                <p>Rating: <%= review.rating %>/5</p>
                <p>Comments: <%= review.comments %></p>
            </div>
            <% }); %>
        </div>
        <% } %>


    </div>
</main>

<%- include("./../partials/footer"); %>