<%- include("./../partials/header"); %>

<main>
    <div class="dashboard">
        <h3 class="dashboard__header">My Vendors</h3>
        <% Object.keys(vendorObj).forEach(vendorType => { %>
        <div class="dashboard-vendors">
            <h5 class="dashboard-vendors__header"><%= vendorType %></h5>
            <% vendorObj[vendorType].forEach(vendor => { %>
            <div class="dashboard-vendors__card">
                <div class="dashboard-vendors__summary">
                    <p><%= vendor.companyName %></p>
                    <p><%= vendor.contactName %></p>
                    <p><%= vendor.contactNumber %></p>
                    <p><%= vendor.email %></p>

                    <p><a href="/vendors/<%= vendor._id %>">More details</a></p>
                </div>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
</main>

<%- include("./../partials/footer"); %>