<%- include("./../../partials/header"); %>

<main class="friends">
    <div class="friends-container">
        <div class="friends-header">
            <h2>Friends</h2>
            <a class="tab-bar__link <%- show === "friends" ? "tab-bar__link--active" : "" %>"
                href="/users/me/friends?show=friends">Following</a>
            <a class="tab-bar__link <%- show === "followers" ? "tab-bar__link--active" : "" %>"
                href="/users/me/friends?show=followers">Followers</a>
        </div>

        <% friends.forEach(friend => { %>
        <div class="friend">
            <%= friend.email %>

            <form action="/users/me/friends?show=<%= show %>&_method=DELETE" method="POST">
                <input type="hidden" name="email" value="<%= friend.email %>">
                <button type="submit">Remove</button>
            </form>
        </div>
        <% }) %>

        <% if (show === "friends") { %>
        <a href="/users/me/friends/new"><button class="add-btn">+</button></a>
        <% } %>
    </div>
</main>

<%- include("./../../partials/footer"); %>